################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StremingDemo/wwwroot/videos
/.vs
/StremingDemo/bin/Debug/net8.0
/StremingDemo/obj/Debug/net8.0/ref/StremingDemo.dll
