@inherits LayoutComponentBase

<div class="page bg-dark text-white" style="min-height: 100vh;">

   
    <main>
        <header class="px-4 py-3" style="background-color: #0f0e0a; position: fixed; top: 0; width: 100%; z-index: 1000;">
            <NavLink href="/">
                <img src="logo.png" alt="Netflix Ilegal Logo" style="height: 60px;" />
            </NavLink>
        </header>
        <article class="content px-4" style="padding-top:84px" >
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script>
    let hideTimeout;

    window.videoInactivity = {
        resetTimer: () => {
            const btn = document.getElementById("back-button");
            if (btn) {
                btn.classList.remove("hidden");
                clearTimeout(hideTimeout);
                hideTimeout = setTimeout(() => {
                    btn.classList.add("hidden");
                }, 500);
            }
        }
    };
</script>